@model State

@{ Layout = null; }

<div><h2>State</h2></div>

<table>
    <tr><th>StateId:</th><td>@Model.StateId</td></tr>
    <tr><th>Name:</th><td>@Model.Name</td></tr>

    <tr><th>City:</th><td>@Model.CapitalCity?.CityName</td></tr>
</table>